

/*自己写的样式*/
*{
    margin:0px ;
    padding:0px;
    text-decoration:none;
    list-style:none;
}
.top{
    border:2px solid red;
    height:50px;
    line-height:50px;
}
.center {
    height: 400px;
   
}
.left {
    border:2px solid #4cff00;
    height: 400px;
    width: 20%;
    float: left;
}
.right {
    border: 2px solid #4cff00;
    height: 400px;
    width: 79%;
    float: left;
}
.bottom {
    border: 2px solid black;
    height: 50px;
    width: 100%;
}