<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @*【【---自定义母版页---】】】*@


    <h1>欢迎进入W3cSchool 学习</h1>
    <hr />
    <div>
        @RenderBody()
    </div>
    <hr />
    <h3>版权所有，保留一切解释权</h3>
</body>
</html>
