
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>userMessage</title>
</head>
<body>
    <div>
        <h2>ViewData:@ViewData["Date"]</h2>
        <h2>ViewBag:@ViewBag.time</h2>
    </div>
</body>
</html>
